<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    
    <title>Document</title>
</head>
<body>
    {{>header}}


     <!-- -----course------- -->
    <section class="course">
        <h1> Courses We Offer</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <div class="row">
            <div class="course-col">
               <h3>Intermediate</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Pellentesque aliquet turpis nulla, eleifend faucibus est
                  sollicitudin ut. Maecenas ut venenatis ex, et dapibus purus
                  Donec sit. . </p>
            </div>
            <div class="course-col">
                <h3>Graduation</h3>
                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                   Pellentesque aliquet turpis nulla, eleifend faucibus est
                   sollicitudin ut. Maecenas ut venenatis ex, et dapibus purus
                   Donec sit. . </p>
             </div>
             <div class="course-col">
                <h3>Post-Graduation</h3>
                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                   Pellentesque aliquet turpis nulla, eleifend faucibus est
                   sollicitudin ut. Maecenas ut venenatis ex, et dapibus purus
                   Donec sit. . </p>
            </div>

        </div>

     </section>

     <!-- --------facilities------- -->
    <section class="facilities">
        <h1>Our Facilities</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <div class="row">
            <div class="facilities-col">
                <img src="images/library.png" alt="">
                <h3>WORLD CLASS LIBRARY</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Fugit culpa debitis omnis ducimus.</p>
            </div>
            <div class="facilities-col">
                <img src="images/basketball.png" alt="">
                <h3>Large Play Ground</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Fugit culpa debitis omnis ducimus.</p>
            </div>
            <div class="facilities-col">
                <img src="images/cafeteria.png" alt="">
                <h3>Tasty And Healthy Food</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Fugit culpa debitis omnis ducimus.</p>
            </div>
        </div>
    </section>
     
   


    {{>footer}}

    <script src="../jq/jquery.js" type="text/javascript"></script>
    <script src="../js/bootstrap.js" type="text/javascript"></script>
</body>
</html>