<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    {{!-- <link rel="stylesheet" href="C:\Users\Dell\Desktop\final_evaluation\public\css\style.css"> --}}
    <title>Document</title>
</head>
<body>
    {{>header}}

         <section class="about-us">
        <div class="row">
            <div class="about-col">
                <h1>We are the woeld's largest university</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique voluptate aut quam quia inventore eligendi suscipit dolorem sint, ipsa quas praesentium debitis dicta, temporibus consequatur.
                </p>
                <a href="" class="hero-btn red-btn">Explore Now</a>
            </div>
            <div class="about-col">
                <img src="images/about.jpg" alt="">
            </div>
        </div>
    


    {{>footer}}

    <script src="../jq/jquery.js" type="text/javascript"></script>
    <script src="../js/bootstrap.js" type="text/javascript"></script>
</body>
</html>