<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wp_project</title>
    
   <script>
     function validate() {    
            var name = document.reg_form.fname;    
          
            var address = document.reg_form.address;    
            var gender = document.reg_form.gender;    
            var email = document.reg_form.email;    
            var mobile = document.reg_form.mobile;    
            var course = document.reg_form.course;    
    
            if (name.value.length <= 0) {    
                alert("Name is required");    
                fname.focus();    
                return false;    
              
            }    
            if (address.value.length <= 0) {    
                alert("Address is required");    
                address.focus();    
                return false;    
            }    
            if (gender.value.length <= 0) {    
                alert("Gender is required");    
                gender.focus();    
                return false;    
            }    
            if (email.value.length <= 0) {    
                alert("Email Id is required");    
                email.focus();    
                return false;    
            }    
            if (mobile.value.length <= 0) {    
                alert("Mobile number is required");    
                mobile.focus();    
                return false;    
            }    
            if (course.value == "select course") {    
                alert("Course is required");    
                course.focus();    
                return false;    
            }    
            /* return false;     */
            alert("your form is  submitted")
        }    
   </script>

</head>
<style>
    *{
        margin: 0%;
        padding: 0%;
        scroll-margin: 0%;
    }
.desktop{
    position: relative;
    width: 100vw;
    height: 100px;
    background: #FFFCFC;
    
}
.admission{
    position: absolute;
    width: 40vw;
    height: 8vh;
    left: 50vw;
    top: 15vh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -0.017em;
    color: #000000;
}
.bgimage{
    box-sizing: border-box;

    position: absolute;
    width: 31vw;
    height: 600px;
    left: 0vw;
    top: 0vw;
    background: url(12.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 35% 100%;

    /* mix-blend-mode: normal; */
    border: 0px solid #FC0202;
}
.tp1{
    position: absolute;
    width: 7.75vw;
    height: 100vh;
    left: 0vw;
    top: 0vw;
    background: rgba(18, 12, 81, 0.85);
}
.tp2{
    position: absolute;
    width: 7.75vw;
    height: 100vh;
    left: 7.75vw;
    top: 0vw;
    background: rgba(18, 12, 81, 0.8);

}
.tp3{
    position: absolute;
    width: 7.75vw;
    height: 100vh;
    left: 15.5vw;
    top: 0vw;
    background: rgba(18, 12, 81, 0.7);

}
.tp4{
    position: absolute;
    width: 7.75vw;
    height: 100vh;
    left: 23.25vw;
    top: 0vw;
    background: rgba(18, 12, 81, 0.6);

}
.text{
    position: absolute;
    width: 100px;
    height: 30px;
    left: 8vw;
    top: 8.5vh;
    font-family: 'Inter';
    font-style: bold;
    font-weight: 800;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: -0.017em;
    color: #FFFFFF;

}
.text2{
    position: absolute;
     width: 70px;
    height: 20px;
    left: 8vw;
    top: 13vh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: -0.017em;
    color: white;

}
.text3{
    position: absolute;
    width: 70px;
    height: 20px;
    left: 3vw;
    top: 27vh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.017em;
    color: #eee5e5;

}

.ellipse1{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 3vw;
    top: 40vh;
    border-radius: 60%;
    background: #FAFAFA;
    text-align: center;
    font-weight: 100;
    font-size: 28px;

}
.ellipse2{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 3vw;
    top: 53vh;
    font-weight: 100;
    border-radius: 60%;
    background: #FAFAFA;
    text-align: center;
    font-size: 28px;
}
.ellipse3{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 3vw;
    top: 66vh;
    border-radius: 60%;
    font-weight: 100;
    background: #FAFAFA;
    text-align: center;
    font-size: 28px;
}
.line1{
    position: absolute;
    width: 2px;
    height: 50px;
    left: 4.5vw;
    top: 45vh;
    background: #FFFDFD;
}
.line2{
    position: absolute;
    width: 2px;
    height: 50px;
    left: 4.5vw;
    top: 58vh;

background: #FFFDFD;
}
.line3{
    position: absolute;
    width: 0.1vw;
    height: 7vh;
    left: 13vw;
    top: 91vh;

background: #FFFDFD;
}

.s1{
    position: absolute;
     width: 100px;
    height: 30px;
    left: 8vw;
    top: 41vh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.017em;
    color: #FFFFFF;

}
.s2{
    position: absolute;
     width: 100px;
    height: 30px;
    left: 8vw;
    top: 54vh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.017em;
    color: #FFFFFF;

}
.s3{
    position: absolute;
    width: 100px;
    height: 30px;
    left: 8vw;
    top: 67vh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.017em;
    color: #FFFFFF;

}

.return{
    position: absolute;
    width: 150px;
    height: 147px;
    left: 1100px;
    top: 30px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 60;
    font-size: 20px;
    line-height: 12px;
    letter-spacing: -0.017em;

    color: #000000;
}

.container{
    position: absolute;
    width: 50vw;
    height: 65vh;
    left: 40vw;
    top: 30vh;
    padding-left: 30px;
    padding-top: 30px;
    background: rgba(40 , 33, 125 , 0.1)
    
}

.logo{
    position: absolute;
    opacity: 1.0;
    top: 7.47vh;
    left: 2.54vw;
    
}
.link1{
    position:absolute;
    top: 43vw;
    left: 1vh;
    font-size: 13px;

}
.link2{
    position:absolute;
    top: 43vw;
    left: 30vh;
    font-size: 13px;
}  



/* .button{
    padding: 1px 10px 1px 10px;
    cursor: pointer;
    margin-left: 150px;
    color: white;
    background-color: red;
    
} */
.button:hover{
    color: #FC0202;
    background-color: #eee5e5;
}
input[type="text"] {    
            width: 200px;    
        }    
        input[type="submit"], input[type="reset"] {    
            width: 77px;    
            height: 27px;    
            position: relative;left: 100px;    
        }    
        form{    
            text-align: center;    
            font-family: Calibri;    
            font-size: 20px;    
            border: 3px solid black;    
            width: 600px;    
            margin: 10px auto;    
        }    
        td {    
            padding: 10px;    
        }    
        td:first-child {    
            text-align: right;    
            font-weight: bold;    
        }    
        td:last-child {    
            text-align: left;    
    
        }
</style>
<body>
    
        
   <div class="desktop">
    
    <div class="bgimage"> 
        
        <div class="tp1"></div>
        <div class="tp2"></div>
        <div class="tp3"></div>
        <div class="tp4"></div>
        <pre class="text">BML MUNJAL UNIVERSITY</pre>
        <pre class="text2"> A <span style="color: red;">Hero Group</span> INITIATIVE</pre>
        <pre class="text3"><b>How to apply</b> 
        <span style="font-size: 20px;">In Three Steps</span> </pre>
        <div class="ellipse1"  > 1</div>
        <div class="ellipse2" > 2</div>
        <div class="ellipse3" > 3</div>
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
        <pre class="s1">Fill the 
<b>Application Form</b> </pre>
        <pre class="s2">Confirm <b>Programme/Specialisation</b>,
generate your <b>System ID</b> and
proceed to payment</pre>
        <pre class="s3">Get your <b>Application Number</b> on your 
registered Email ID and 
Mobile Number</pre>
       <div class="link1"><p style="color: white;">For Admission <br> <a style="color: white;" href="">bmu.admission@gmail.com</a></p></div> 
       <div class="link2"><p style="color: white;">For Career Advice <br> <a style="color: white;" href="">bmu.careerguide@gmail.com</a></p></div> 
    </div>
    <div class="return">
        <a href="index.hbs">HOME</a>
    </div>
    
    <div class="admission">ADMISSION OPEN :  <span style="color: red;">2022-2023</span> </div>
        <div class="container">
            <form method="" action="/admission" method = "post" name="reg_form" onsubmit="return validate()" style="border-width: ;">    
                
                <table>    
                    <tr>    
                        <td><label>First Name: </label></td>    
                        <td>    
                            <input type="text" name="fname" placeholder="First Name">    
                        </td>    
                    </tr>    
                    <tr>    
                        <td><label>Address: </label></td>    
                        <td>    
                            <input type="textarea" size="50" name="address" placeholder="Address">    
                        </td>    
                    </tr>    
                    <tr>    
                        <td><label>Gender: </label></td>    
                        <td>    
                            <input type="radio" name="gender" value="male">Male    
                            <input type="radio" name="gender" value="femele">Female    
                        </td>    
                    </tr>    
                    <tr>    
                        <td><label>Email Id: </label></td>    
                        <td>    
                            <input type="text" name="email" placeholder="example@gmail.com">    
                        </td>    
                    </tr>    
                    <tr>    
                        <td><label>Mobile: </label></td>    
                        <td>    
                            <input type="number" name="mobile">    
                        </td>    
                    </tr>    
                    <tr>    
                    <td><label>Course: </label></td>    
                        <td>    
                            <select name="course">    
                                <option value="select course">select course</option>    
                                <option value="HTML">HTML</option>    
                                <option value="CSS">CSS</option>    
                                <option value="JavaScript">JAVASCRIPT</option>    
                                <option value="Java">JAVA</option>    
                            </select>    
                        </td>    
                    </tr>    
                    <tr>    
                        <td>    
                            <input type="submit" name="submit" value="Submit" class="button" >    
                            <input type="reset" name="reset" value="Reset" class="button"  >    
                        </td>    
                    </tr>             
                </table>    
            </form>    
    
        </div>
    <div class = "logo"> <img src="/logo-removebg-preview.png" alt="logo" height="60px" width="60px" ></div>
   </div> 
   
</body>


</html>