<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- <link rel="stylesheet" href="../css/bootstrap.min.css"> --}}
     <link rel="stylesheet" href="css/style.css">
     {{!-- <link rel="stylesheet" href="C:\Users\Dell\Desktop\final_evaluation\public\css\style.css"> --}}
    <title>Document</title>
</head>
<body>

    <section class="footer">
        <h4>About Us</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, perspiciatis porro asperiores
        et dignissimos repudiandae distinctio quod voluptas maxime veniam <br> earum animi placeat accusamus
        delectus doloribus corrupti pariatur nesciunt illum?</p>
    <div class="icons">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-flinkedin"></i>
    </div>
    
    </section>
    
     

</body>
</html>