<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>

    <section class="header">
        <nav>
            <a href="index.hbs"><img src="images/logo-removebg-preview.png" alt="LOGO" height="100px" width="100px"></a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()" ></i>
                <ul>
                    <li><a href="/index" > HOME</li>
                    <li><a href="/course" >COURSE</a></li>
                    <li><a href="/contact" >CONTACT</a></li>
                    <li><a href="admission" >APPLY_NOW</a></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>
        <div class="text-box">
            <h1>Lets Explore BMU</h1>
            <a href="" class="hero-btn">Visit us to know More</a>
        </div>
    </section>
     


</body>
</html>